<div class="container"></div>

<section class="container">
  <div class="item" appShowInView className="fadeToRight">
    <h3>Fade to right</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, optio?
    </p>
  </div>
</section>
<section class="container">
  <div class="item" appShowInView className="fadeIn">
    <h3>Fade in</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, optio?
    </p>
  </div>
</section>
<section class="container">
  <div class="item" appShowInView className="zoomOut">
    <h3>Zoom out</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, optio?
    </p>
  </div>
</section>